{{ ansible_managed | comment }}
[Unit]
Description=asir-deploy
Documentation={{ asir-deploy_documentation_link }}
Requires=network-online.target
After=network-online.target

[Service]
PrivateTmp={{ asir-deploy_private_tmp }}
User={{ asir-deploy_user }}
Group={{ asir-deploy_group }}
RuntimeDirectory=asir-deploy
LimitNOFILE={{ asir-deploy_max_files }}

ExecStart={{ asir-deploy_bin_path }}/{{ asir-deploy_exec_name }} {% for option in asir-deploy_options %}{% if option %}-{{ option }} {% endif %}{% endfor %}

StandardOutput={{ asir-deploy_log_output }}
StandardError={{ asir-deploy_log_output }}
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGTERM
Restart=always

[Install]
WantedBy=multi-user.target
